<div>
  {{input value=note.title}}
  <button id="save" {{action "saveNote"}}>save</button>
  <button id="close" {{action "closeNote"}}>close</button>
</div>
<div>
  {{textarea rows=10 cols=10 value=note.body}}
</div>
<div>
  {{markdown-to-html markdown=note.body}}
</div>
<div>
  {{yield}}
</div>
